
  mat-toolbar{
    background: darkcyan;
    color: white;
    text-align: center;
  }
  mat-toolbar p{
    margin-left: 600px;
  }
  .example-container {
    min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 430px;
  margin-top: 50px;
  }
  .example-container > * {
    width: 100%;
  }
  .example{
    margin-right: 1000px;
   position: fixed;
  }
  .example1{
    width: 100%;
   box-sizing: border-box;
   box-shadow: 3px;
 margin-top: 80px;
 
  }
  button{
    background-color: darkcyan;
    color: white;
  }