<div>  
  <mat-toolbar> 
    <p>Login Page</p>
</mat-toolbar>

  <div class="example-container">
    <mat-form-field>
      <input type="email" matInput placeholder="Enter your email" required [(ngModel)]="Email"
      pattern="[a-z0-9]{1,20}@[a-z0-9]{1,10}\.[a-z]{1,5}" />
      
    </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" 
        [(ngModel)]="password" required pattern="[1-9a-z]{8,20}">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
  </div>
  <div class="btn">
  <button mat-raised-button  (click)="submit()">LogIn</button>
  <br><br>
  <a routerLink="/register" routerLinkActive="active">registerPage</a>
  </div>


